@model  HRConcourse.Web.Areas.Filler.Models.KioskDocumentPanelViewModel
@using HRConcourse.Web.Areas.Filler.Resources.DocumentFill

<div class="panel" data-documentStatus="Pending" id="DivDocument-@Model.RevisionId"  >
 

    @Html.Partial("KioskDocumentSliderUserControl", Model)



</div>
