@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/Filler2.css")" rel="stylesheet" type="text/css" />

    <title>ThankYou</title>
</head>
<body >
    
    <div id="thankyou">

        <div id="header" class="centerDiv" style="height: 58px">
            <img alt="companyLogo" src="@Url.Content("~/Images/CompanyLogo.png")" />
         </div>
        
        <div id="fullLine"></div>
        
        <div id="message">
            <p>Thank you for using Doc Center 6</p>
        </div>
        
    </div>

</body>
</html>
