<div class="container">
    <h2>Add Document</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet-boxed">
                <div class="portlet-header">
                    <h4 class="portlet-title">Document Information</h4>
                </div> <!-- /.portlet-header -->

                <div class="portlet-body">
                    <div class="row">
                        <form class="form-horizontal">

                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" data-bind="value: documentData.name">
                                </div> <!-- /.col -->
                            </div> <!-- /.form-group -->

                            <!-- Hard Signature -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Requires Hard Signature</label>
                                <div class="col-md-4">
                                    <input type="checkbox" data-bind="checked: documentData.hardSignature">
                                </div> <!-- /.col -->
                            </div> <!-- /.form-group -->

                            <!-- Read Only -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Is Read Only</label>
                                <div class="col-md-4">
                                    <input type="checkbox" data-bind="checked: documentData.readOnly">
                                </div> <!-- /.col -->
                            </div> <!-- /.form-group -->

                            <!-- Created From -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Created From</label>
                                <div class="col-md-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="createdFrom" value="blank" data-bind="checked: documentData.createdFrom"> Blank Document
                                        </label>
                                    </div> <!-- /.radio -->
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="createdFrom" value="pdf" data-bind="checked: documentData.createdFrom"> From PDF
                                        </label>

                                        <!-- File Uploader -->
                                        <div class="btn btn-info btn-sm fileinput-button">
                                            <span>Choose file</span>
                                            <input type="file" accept="application/pdf" data-bind="fileUploader: documentData.file, uploadOptions: uploadOptions" />
                                        </div>

                                        <!-- Selected File -->
                                        <div>
                                            <span data-bind="text: selectedFileName()"></span>
                                        </div>
                                        <div id="no-file-found" style="margin-top: 5px; display: none;">
                                            <span style="color: red; ">No PDF file found. Please upload a PDF file</span>
                                        </div>

                                    </div> <!-- /.radio -->
                                </div>
                            </div>
                            
                            <!-- Add Button -->
                            <div class="form-group">
                                <div class="col-md-7 col-md-push-3">
                                    <button type="submit" class="btn btn-primary" data-bind="click: addDocument">Add Document</button>
                                </div> <!-- /.col -->
                            </div>
                        </form>
                    </div>
                </div> <!-- /.portlet-body -->
            </div>
        </div>
    </div>
</div>