<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Default" connectionString="Data Source=hrc2.caqaphborw01.us-west-2.rds.amazonaws.com,1433;initial catalog=HRConcourse;persist security info=True;user id=hrconcourse;password=M49Q23623sNyS;"  providerName="System.Data.SqlClient" />


    <!--<add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="HRConcourseDCEntities" connectionString="metadata=res://*/cor.OldModel.csdl|res://*/cor.OldModel.ssdl|res://*/cor.OldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hrconcoursedb.caqaphborw01.us-west-2.rds.amazonaws.com;initial catalog=HRConcourseDC;persist security info=True;user id=xr2;password=M49Q23623sNyS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="HRConcourseCoreEntities" connectionString="metadata=res://*/CodeModel.csdl|res://*/CodeModel.ssdl|res://*/CodeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hrconcoursedb.caqaphborw01.us-west-2.rds.amazonaws.com;initial catalog=HRConcourseCore;user id=xr2;password=M49Q23623sNyS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->




  </connectionStrings>
  <appSettings>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="HostedUrl" value="http://hrconcourse2-env5.elasticbeanstalk.com/" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>